main {
  background-color: #e7e1da;
}

a {
  text-decoration: none !important;
}

.App {
  text-align: center;
}

.home-links {
  font-weight: bolder;
  color: #203274;
}

.home-links:hover {
  font-weight: bolder;
  text-decoration: underline !important;
  color: #203274 !important;
}
