main {
  background-color: #e7e1da;
}

a {
  text-decoration: none !important;
}

.downloadbtn {
  color: #203274;
  border-style: solid;
  border-color: #203274;
  border-radius: 15px;
  border-width: thin;
}
