@import url("https://fonts.googleapis.com/css?family=Playfair+Display:i,bi,b");

main {
  background: radial-gradient(circle, #e7e1da 54%, #a6b5f7 100%);
}

a {
  text-decoration: none !important;
}

.App {
  text-align: center;
}

.home-links {
  font-weight: bolder;
  color: #203274;
}

.home-links:hover {
  font-weight: bolder;
  text-decoration: underline !important;
  color: #203274 !important;
}

h3 {
  font-family: "Playfair Display";
  color: #203274;
  font-weight: bold;
}
