.carousel-item {
  height: 400px !important;
}

.carousel-image {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .carousel-item {
    height: 300px !important;
  }
}

@media only screen and (max-width: 650px) {
  .carousel-item {
    height: 200px !important;
  }
}

.carousel-label {
  display: none;
}

.carousel-hover:hover .carousel-label {
  display: inline-block !important;
}
