.submit-btn {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px !important;
  border-width: thin;
  background-color: #e7e1da !important;
  color: #203274 !important;
}

.submit-btn:hover {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px;
  border-width: thin;
  background-color: #203274 !important;
  color: #e7e1da !important;
}
