.submit-btn {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px !important;
  border-width: thin;
  background-color: #e7e1da !important;
  color: #203274 !important;
  font-family: "Playfair Display";
  font-size: 25px !important;
}

.submit-btn:hover {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px;
  border-width: thin;
  background-color: #203274 !important;
  color: #e7e1da !important;
}

.contact-title {
  font-family: "Playfair Display";
  color: #203274;
  font-weight: bold;
  font-size: 25px;
}
