#lightLogo {
  height: 50px;
}

nav {
  background-color: #203274;
}

span {
  color: #e7e1da;
}

.nav-link:hover {
  border-style: solid;
  border-color: #e7e1da;
  border-radius: 15px;
  border-width: thin;
}

.navbar .dropdown-toggle::after {
  color: #e7e1da;
}

.navbar-icon {
  color: #e7e1da;
  border-style: none;
}
