#lightLogo {
  height: 50px;
}

nav,
.dropdown-menu {
  background-color: #203274 !important;
}

.span {
  color: #e7e1da;
}

.nav-link:hover,
.dropdown-item:hover {
  border-style: solid;
  border-color: #e7e1da;
  border-radius: 15px;
  border-width: thin;
  background-color: #203274 !important;
}

.navbar-icon {
  color: #e7e1da;
  border-style: none;
}
