.github-button {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px !important;
  border-width: thin;
  background-color: #e7e1da !important;
  color: #203274 !important;
  font-family: "Playfair Display";
  font-size: 20px !important;
}

.github-button:hover {
  border-style: solid;
  border-color: #203274 !important;
  border-radius: 15px;
  border-width: thin;
  background-color: #203274 !important;
  color: #e7e1da !important;
}

.modal-content {
  background: linear-gradient(#203274, #b5c1f5cc) !important;
  color: #e7e1da !important;
}

.modal-footer a {
  background: linear-gradient(#b5c1f5cc, #203274) !important;
  color: #e7e1da !important;
}

.modalBtn {
  background-color: #203274 !important;
}

.modal-footer a:hover {
  background: #e7e1da !important;
  color: #203274 !important;
}

.modalBtn {
  position: relative;
}

.modalBtn .card-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background: linear-gradient(#b5c1f5cc, #203274);
  display: none;
}

.modalBtn:hover .card-image-overlay {
  display: block;
}

#project1 .card-image-overtop,
#project3 .card-image-overtop {
  left: -25px;
  top: -25px;
  margin: 0;
  position: absolute;
}

#project2 .card-image-overtop,
#project4 .card-image-overtop {
  right: -25px;
  top: -25px;
  margin: 0;
  position: absolute;
}

.modalBtn:hover .card-image-overtop {
  display: block;
}

.card-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #e7e1da;
}

.card-image {
  height: 330px;
  width: 550px;
}

@media only screen and (max-width: 1400px) {
  .card-image {
    height: 315px;
    width: 525px;
  }
}

@media only screen and (max-width: 1300px) {
  .card-image {
    height: 300px;
    width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .card-image {
    height: 250px;
    width: 417px;
  }
}

@media only screen and (max-width: 500px) {
  .card-image {
    height: 200px;
    width: 333px;
  }
}

@media only screen and (max-width: 440px) {
  .card-image {
    height: 180px;
    width: 300px;
  }
}

@media only screen and (max-width: 390px) {
  .card-image {
    height: 160px;
    width: 270px;
  }
}
