.modal-body,
.modal-header,
.modal-footer,
.modal-footer a {
  background-color: #203274;
  color: #e7e1da !important;
}

.modalBtn {
  background-color: #203274 !important;
}

.modal-footer a:hover {
  background-color: #e7e1da !important;
  color: #203274 !important;
}
